.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto 12px auto auto;
}

.message{
  border: 2px solid cornflowerblue;
  width: 200px;
  height: 55px;
  text-align: center;
}

.myicon{
  padding: 4px;
}
