<headers [nomeAccount]="nomeCliente">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="10" offset-xs="1" size-sm="5" offset-sm="1" size-md="8" offset-md="2" size-lg="8" offset-lg="2">
        <ion-list mode="md" class="ion-padding container">
          <ion-item-sliding *ngFor="let comando of comandi; let i = index">
            <ion-item lines="none" class="ion-text-center" (click)="select(i)">
              <ion-label>
                <h3>{{comando[1]}}</h3>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal #modal [isOpen]="openModal" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.25, 0.5, 0.75]" >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Scegli l'ingresso</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content  class="ion-padding ion-text-center">
        <ion-list mode="md">
          <div *ngFor="let ingresso of ingressi; let i=index">
            <ion-item (click)="selectIng(i)">
              <ion-label>
                <h3>{{ingresso.descrizione}}</h3>
              </ion-label>
            </ion-item>
          </div>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</headers>
