<div class="ion-page">
  <ion-header class="header">
    <ion-toolbar *ngIf="!nomeAccount" class="toolbar" [color]="color">
      <ion-title>Antifurto</ion-title>
    </ion-toolbar>

    <ion-toolbar *ngIf="nomeAccount" class="toolbar-details" [color]="color">
      <ion-title class="titolo">Antifurto</ion-title>
      <div class="acc-details" slot="end">
        <ion-icon class="icon-only myicon" md="ellipsis-vertical" name="person-outline"></ion-icon>
        <p>{{nomeAccount}}</p>
      </div>
    </ion-toolbar>


  </ion-header>

  <ion-content >
    <ng-content>

    </ng-content>
  </ion-content>
</div>
