ion-item-sliding{
  box-shadow: 0px 0px 4px cornflowerblue;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.container{
  border-top: 3px solid cornflowerblue;
  border-radius: 5px;
}

.item{
  color: cornflowerblue;
}
