<headers>
<ion-grid >
  <ion-row>
    <ion-col>
      <p class="info ion-text-center">Crea un nuovo antifurto o seleziona uno esistente</p>
      <div class="ion-text-center">
        <h4 class="titolo">Lista Antifurti</h4>
      </div>
      <!--[class.container]="!isEmpty" -->
      <ion-list class="ion-padding container" >
        <!--          fare in modo da eliminare cliente con lo swipe-->
        <ion-item-sliding *ngFor="let antifurto of antifurtiCliente; let i = index">
          <ion-item class="ion-text-center" (click)="goTo(i)">
            <ion-label>
              <h3>{{antifurto.nome}}</h3>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-button shape="circle" (click)="manageAntifurto()">
    <ion-icon size="large" class="add" slot="icon-only" name="add-outline"></ion-icon>
  </ion-button>
</ion-grid>
</headers>
