<headers [nomeAccount]="nomeCliente">
<ion-grid >
  <ion-row>
    <ion-col size-xs="10" offset-xs="1" size-sm="5" offset-sm="1" size-md="8" offset-md="2" size-lg="8" offset-lg="2">
      <p class="info ion-text-center">Crea un nuovo antifurto o seleziona uno esistente</p>
      <p class="info ion-text-center">Scorri verso destra per eliminare. <a role="button" class="pointer" (click)="onOverlay()"> Come?</a> </p>
      <p class="info ion-text-center">Scorri verso sinistra per modificare.<a role="button" class="pointer" (click)="onOverlay2()"> Come?</a> </p>
      <div class="ion-text-center">
        <h4 class="titolo">Lista Antifurti</h4>
      </div>
      <!--[class.container]="!isEmpty" -->
      <ion-list class="ion-padding container" >
        <!--          fare in modo da eliminare cliente con lo swipe-->
        <ion-item-sliding *ngFor="let antifurto of antifurtiCliente; let i = index">
          <ion-item-options side="start">
            <ion-item-option color="danger" (click)="elimina(i)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item class="ion-text-center" (click)="goTo(i)">
            <ion-label>
              <h3>{{antifurto.nome}}</h3>
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="warning" (click)="manageAntifurto('modifyAnt',i,antifurto)">
              <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-button shape="circle" (click)="manageAntifurto('addAntif')">
    <ion-icon size="large" class="add" slot="icon-only" name="add-outline"></ion-icon>
  </ion-button>
</ion-grid>

  <ion-modal [isOpen]="modalDemoSwipe" (willDismiss)="offOverlay()">
    <ng-template class="ion-text-center">
      <ion-header>
        <ion-toolbar>
          <ion-title>Demo Swipe</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="offOverlay()">Chiudi</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content calss="ion-padding ion-text-center">
        <div>
          <p *ngIf="modalDemoSwipe && !modalDemoSwipe2" class="info-demo">Fai scorrere l'elemento verso destra per rivelare il pulsante <b>Elimina</b></p>
          <p *ngIf="modalDemoSwipe && modalDemoSwipe2" class="info-demo">Fai scorrere l'elemento verso sinistra per rivelare il pulsante <b>Modifica</b></p>
          <ion-list class="ion-padding">
            <ion-item-sliding id="overlayItem">
              <ion-item-options side="start">
                <ion-item-option color="danger">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
              </ion-item-options>
              <ion-item>
                <ion-label *ngIf="modalDemoSwipe && !modalDemoSwipe2" class="ion-text-wrap">Elemento da eliminare</ion-label>
                <ion-label *ngIf="modalDemoSwipe && modalDemoSwipe2" class="ion-text-wrap">Elemento da modificare</ion-label>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option color="warning">
                  <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</headers>
