<headers>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-padding">
          <div class="ion-text-center">
            <h2>Benvenuto</h2>
            <!--      <p>Crea un nuovo account o seleziona uno esistente</p>-->
          </div>
          <!--    si mette se ci sono figli nel router-->
          <!--    <router-outlet></router-outlet>-->
          <div class="ion-text-center">
            <ion-button (click)="start()">Start</ion-button>
          </div>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


<!--  <div id="container">
    <ion-button expand="block" (click)="cambiaTema()">cambia tema</ion-button>
    <ion-button expand="block" (click)="darkTema()">dark</ion-button>
  </div>-->
</headers>

